In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
g_key

'AIzaSyCelBKrghh6H1KgqPV5jhBVCxcoKFkIOag'

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Weather Data\weather_data_cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ribeira Grande,PT,2021-06-02 18:39:36,38.5167,-28.7000,66.60,48,20,10.36
1,1,Kapaa,US,2021-06-02 18:39:36,22.0752,-159.3190,80.58,74,40,1.99
2,2,Ivolginsk,RU,2021-06-02 18:39:37,51.7492,107.2837,46.06,87,99,3.83
3,3,Ginir,ET,2021-06-02 18:39:37,7.1333,40.7000,56.62,90,10,5.46
4,4,Hilo,US,2021-06-02 18:39:38,19.7297,-155.0900,75.20,73,90,8.05

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 85
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
23,23,Berbera,SO,2021-06-02 18:39:45,10.4396,45.0143,89.83,62,9,3.40
33,33,Asyut,EG,2021-06-02 18:39:48,27.1810,31.1837,87.98,20,0,13.65
36,36,Sabzevar,IR,2021-06-02 18:39:49,36.2126,57.6819,89.28,11,0,6.26
98,98,Acapulco,MX,2021-06-02 18:37:29,16.8634,-99.8901,89.42,58,75,7.14
133,133,Puerto Escondido,MX,2021-06-02 18:40:24,15.8500,-97.0667,88.63,62,40,8.05
137,137,Marrakesh,MA,2021-06-02 18:36:04,31.6315,-8.0083,87.87,25,40,4.61
149,149,Venice,US,2021-06-02 18:39:05,27.0998,-82.4543,86.00,61,1,10.36
183,183,Cayenne,GF,2021-06-02 18:40:43,4.9333,-52.3333,87.84,78,40,1.01
186,186,Sao Gabriel Da Cachoeira,BR,2021-06-02 18:40:44,-0.1303,-67.0892,87.60,66,40,2.77
202,202,Hatillo,PR,2021-06-02 18:40:50,18.4863,-66.8254,86.31,74,100,18.07

In [12]:
#Determine is there are any null values
preferred_cities_df.notnull().sum()

City_ID       30
City          30
Country       30
Date          30
Lat           30
Lng           30
Max Temp      30
Humidity      30
Cloudiness    30
Wind Speed    30
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                         City Country  Max Temp      Lat      Lng Hotel Name
23                    Berbera      SO     89.83  10.4396  45.0143
33                      Asyut      EG     87.98  27.1810  31.1837
36                   Sabzevar      IR     89.28  36.2126  57.6819
98                   Acapulco      MX     89.42  16.8634 -99.8901
133          Puerto Escondido      MX     88.63  15.8500 -97.0667
137                 Marrakesh      MA     87.87  31.6315  -8.0083
149                    Venice      US     86.00  27.0998 -82.4543
183                   Cayenne      GF     87.84   4.9333 -52.3333
186  Sao Gabriel Da Cachoeira      BR     87.60  -0.1303 -67.0892
202                   Hatillo      PR     86.31  18.4863 -66.8254

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
23,Berbera,SO,89.83,10.4396,45.0143,IBCO REAL ESTATE PROPERTY
33,Asyut,EG,87.98,27.1810,31.1837,Florence Hotel Assiut
36,Sabzevar,IR,89.28,36.2126,57.6819,
98,Acapulco,MX,89.42,16.8634,-99.8901,HS Hotsson Smart Acapulco
133,Puerto Escondido,MX,88.63,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
137,Marrakesh,MA,87.87,31.6315,-8.0083,Novotel Marrakech Hivernage
149,Venice,US,86.00,27.0998,-82.4543,A Beach Retreat On Casey Key
183,Cayenne,GF,87.84,4.9333,-52.3333,Hôtel Le Dronmi
186,Sao Gabriel Da Cachoeira,BR,87.60,-0.1303,-67.0892,Alarne - Área De Lazer Do Alto Rio Negro
202,Hatillo,PR,86.31,18.4863,-66.8254,Hotel Parador El Buen Cafe
204,Najran,SA,86.65,17.4924,44.1277,محمد هادي ال فطيح
215,Barao De Melgaco,BR,89.60,-16.1944,-55.9675,Tuiuiu Pantanal Hotel
220,Bathsheba,BB,86.00,13.2167,-59.5167,Atlantis Hotel
233,San Patricio,US,89.08,28.0170,-97.5169,"Motel 6 Sinton, TX"
235,Bodden Town,KY,86.00,19.2833,-81.2500,Will T Place
248,Santo Antonio Do Ica,BR,89.69,-3.1022,-67.9397,Hotel Fogaça
278,Delijan,IR,86.32,33.9905,50.6838,ایزوگام آسیاگستردلیجان
287,Victoria,HK,85.32,22.2855,114.1577,Mini Hotel Central
306,Umm Lajj,SA,86.18,25.0213,37.2685,Moon light Furnished Units
340,Mandera,KE,88.92,3.9366,41.8670,Kornesh Hotel and Lodging
353,Jaboticabal,BR,85.53,-21.2547,-48.3222,Hotel Municipal
365,Terenos,BR,87.51,-20.4422,-54.8603,Rancho Pitzer
375,Portland,US,85.80,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
388,Bhinga,IN,86.02,27.7167,81.9333,Kakardari office
462,Pascagoula,US,87.57,30.3658,-88.5561,Regency Inn
470,Beyneu,KZ,89.91,45.3167,55.2000,NUR
472,Touros,BR,86.90,-5.1989,-35.4608,INN NEW HORIZON
519,Avanigadda,IN,86.49,16.0215,80.9181,AP Camping
549,Safaga,EG,87.75,26.7292,33.9365,Lamar Resort Abu Soma
550,Dinga,PK,87.87,32.6398,73.7220,Khan Tariq Hotel

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))